@font-face {
    font-family: "Gibson";
    src: url("../fonts/Gibson-Regular.ttf");
}

@font-face {
    font-family: "Debby";
    src: url("../fonts/debby.ttf");
}

@font-face {
    font-family: "Electrox";
    src: url("../fonts/electrox.ttf");
}

* {
    font-family: arial;
    margin: 0;
    padding: 0;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.logo,
.intro,
.menu,
.content {
    padding: 0px;
}

.fixed {
    position: fixed;
    top: 0;
}

.menu {
    line-height: 30px;
    letter-spacing: 1px;
    width: 100%;
}

.content {
    margin-top: 10px;
}

.menu-padding {
    padding-top: 200px;
}

.btn {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* VIDEO BACKGROUND INICIAL*/

.video-section .pattern-overlay {
    /* background-color: rgba(71, 71, 71, 0.59); */
    
    padding: 110px 0 32px;
    min-height: 540px;
    /* Incase of overlay problems just increase the min-height*/
    
    background-image: url('../img/bg_video.png');
}

@media (min-width: 769px) {
    .video-section .pattern-overlay {
        min-height: 540px;
    }
}

@media (max-width: 768px) {
    .video-section .pattern-overlay {
        max-height: 100%;
    }
    .menu-sempre-fixo {
        position: fixed;
        top: 0;
    }
}

.video-section h1,
.video-section h3 {
    text-align: center;
    color: #fff;
}

.video-section h1 {
    font-size: 110px;
    font-family: 'Buenard', serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 40px auto 0px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
}

.video-section h3 {
    font-size: 25px;
    font-weight: lighter;
    margin: 0px auto 15px;
}

.video-section .buttonBar {
    display: none;
}

.player {
    font-size: 1px;
}
/* FIM VIDEO BACKGROUND INICIAL*/
/* Botão circular */

.round-button {
    width: 95px;
    padding-top: 15px;
}

.round-button-circle {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: #c43c16;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.round-button-circle:hover {
    background: #b03613;
}

.round-button a {
    display: block;
    float: left;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: #e2eaf3;
    font-family: Verdana;
    font-size: 2.2em;
    font-weight: bold;
    text-decoration: none;
}
/* Fim do botão circular*/

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    
    -webkit-font-smoothing: antialiased;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}
/* Set the fixed height of the footer here */

.footer {

    background-color: black;
    padding: 20px 0px 5px 20px;
    font-size:20px;
}


.footer a {
    color: #39aa49;
}

.footer span {
    color: white;
}

.footer a:hover {
    color: #d71f26;
    text-decoration: none;
}
/* Custom page CSS
-------------------------------------------------- */

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}

#custom-bootstrap-menu.navbar-default {
    font-size: 19px;
    z-index: 100;
    background-color: transparent;
    border-width: 0px;
    border-radius: 0px;
}

@media (max-width: 720px) {
    #custom-bootstrap-menu.navbar-default {
        color: white;
        background-color: black;
        padding: 10px 0px;
    }
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: #ddd;
    background-color: #191919;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: #232323;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: #232323;
    background-color: rgba(231, 231, 231, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #b8a48d;
}

.margin-top-fluid {
    margin-top: -20px !important;
}

@media (max-width: 728px) {
    .margin-top-fluid {
        padding-top: 150px !important;
    }
}

.opcao-menu {
    transition: all 0.4s ease;
    font-family: 'Roboto', sans-serif;
}

opcao-menu-brand {
    transition: all 0.4s ease;
}

@media (max-width: 768px) {
    .opcao-menu-brand {
        padding: 0px 20px !important;
    }
}

.centralizar-imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.zuma-logo-principal {
    max-width: 100%;
    max-height: 100%;
}

#portifolio {
    background: url('../img/bg_portifolio.png');
    background-size: cover;
    min-height: 100%;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.titulo-sessao {
    text-shadow: 1px 1px #41403F;
    text-align: center;
    font-weight: 600;
    font-family: 'Wire One', sans-serif;
}

.sub-titulo-sessao {
    text-align: center;
    margin: 0px;
    text-shadow: 1px 1px #41403F;
}

@media (min-width: 1200px) {
    .titulo-sessao {
        margin-bottom: 0px;
        font-size: 80px;
        padding-top: 40px;
    }
}

@media (min-width: 682px and max-width: 1200px) {
    .titulo-sessao {
        margin-bottom: 0px;
        font-size: 50px;
    }
}

@media (max-width: 682px) {
    .titulo-sessao {
        font-size: 40px;
    }
}

#fazemos {
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    min-height: 100%;
    background: url('../img/bg_fazemos.jpg');
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

@media (min-width: 1200px) {
    #fazemos {
        padding-bottom: 80px;
    }
}

ul li {
    color: white;
}

.icon-right > li > i {
    left: 99%;
}

.timeline-body ul > li > p {
    margin: 3px;
    text-shadow: 1px 1px #41403F;
}

.timeline-body ul > li > i {
    width: 1.4em;
}

#contato {

    color: white;
    background-size: cover;
    text-shadow: 1px 1px #41403F;
}

#contato h1,
h2,
h3,
h4,
h5,
p {
    font-family: 'Ubuntu', sans-serif;
}


@media (min-width: 1200px) {
    #map {
        height: 32%
    }
    .footer {
        height: 10%;
    }
    #contato {
        min-height: 63%;
    }
    #buttons {
        padding-top: 30px;
        padding-bottom: 20px;
    }
}
/* Alinhar button center no contato */

#buttons {
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
    text-shadow: 0px 0px #41403F;
    padding-bottom: 15px;
}

#buttons ul {
    list-style: none;
    position: relative;
    left: 50%;
}

#buttons li {
    padding: 5px;
    float: left;
    position: relative;
}
/* ie needs position:relative here*/

#buttons a:hover {
    color: #c43c16;
    background: #f2f2f2;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
}

#content {
    overflow: hidden
}
/* hide horizontal scrollbar*/

.fa-li {
    text-shadow: 1px 1px #41403F;
}

#container {
    position: relative;
    overflow: hidden;
}

#container .content {
    background: url(../img/bg_video.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0px 0px -20px 0px;
    width: 100%;
    padding: 120px 0;
}

.logo-mobile {
    max-height: 100%;
}

#parallaxBar {
    height: 600px;
    background-color: #004c82;
  
    /*
    background: url('../img/aw.jpg') fixed;
  
    background-position: center !important;
    background-size: cover;*/
        position: relative;
}

.para-text{
    color:white;
    text-align:center;
     font-family: 'Fjalla One', sans-serif;
        line-height: 1.4em;
}

#parallaxBar h1 {

    font-size: 60px;
        text-shadow: 2px 2.764px 7px #171717;
        
}

.parallax01{
    background: url('../img/dev.jpg') fixed;
    background-position: center !important;
    background-size: cover;*/
}

.parallax02{
    background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/QwIr88a/software-developer-computer-programmer-taping-keyboard-specialist-programming-sdk-java-technology-entrepreneurship-uhd-4k_nkc89j6b__S0000.jpg') fixed;
    background-position: center !important;
    background-size: cover;
}

.cta {
    background-image: url('https://www.laserfiche.com/content/themes/bbwp/assets/images/backgrounds/brand-graphic-01.svg');
    background-size: cover;
}

.cta-secondary {
    background-color: #A0866D;
}

.page-footer {
    background-color: #232323;
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
}

#footer a {
    color: #A5D6A7 !important;
    font-size: 16px;
}


#footer h4{
    color:white;
}

#footer p{
    font-size: 16px;
}



ul {
    list-style: none;
}

@media (max-width: 920px) {
    .my-input {
        padding: 5px 15px;
    }
    #parallaxBar h1 {
        font-size: 40px;
    }
}


#inscreva {
    background-color: #232323;
    position:relative;
    z-index: 1000;
       
}


.top-razura {
    margin-top: -82px;
        max-width: 100%;
    min-height: 84px;
}

.bottom-razura {
   margin-top: -96px;
        max-width: 100%;
    min-height: 84px;
}



.number-circle {
  border: 2px solid @color;
    background: white;
  color: @color;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
  width: 30px;
  vertical-align: middle;
}


.button {
  display: block;
  font-size: 22px;
  text-align: center;
  line-height: 44px;
  text-decoration: none;
  color: white;
  background-color: #CC4331;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 124px;
  height: 44px;
  margin-top: -22px;
  margin-left: -62px;
  text-shadow: 0 -1px -1px #af3a2a;
  -moz-box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 0 #af3a2a, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.button:hover {
  background-color: #d25544;
  text-shadow: 0 -1px -1px #c4402f;
  -moz-box-shadow: 0 4px 0 #c4402f, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 0 #c4402f, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 0 #c4402f, 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}
.button:active {
  margin-top: -18px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* CASES */
figure.snip1328 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  /*margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  max-height: 220px; */
  width: 100%;
  color: #000000;
  text-align: center;
}
figure.snip1328 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1328 img {
  opacity: 1;
  /* width: 100%; */
}
figure.snip1328:after,
figure.snip1328:before {
  background: #ffffff;
  width: 0;
  height: 100%;
  position: absolute;
  content: '';
  opacity: 0.5;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}
figure.snip1328:after {
  top: 0;
  left: 0;
}
figure.snip1328:before {
  right: 0;
  bottom: 0;
}
figure.snip1328 figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
figure.snip1328 h5,
figure.snip1328 p {
  margin: 0;
  width: 100%;
  opacity: 0;
}
figure.snip1328 h5 {
  padding: 0 30px;
  font-weight: 400;
  text-transform: uppercase;
}
figure.snip1328 p {
  padding: 0 50px;
  font-size: 0.8em;
  font-weight: 500;
}
figure.snip1328 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
}
figure.snip1328:hover img,
figure.snip1328.hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1328:hover:after,
figure.snip1328.hover:after,
figure.snip1328:hover:before,
figure.snip1328.hover:before {
  width: 100%;
  height: 100%;
}
figure.snip1328:hover figcaption h5,
figure.snip1328.hover figcaption h5,
figure.snip1328:hover figcaption p,
figure.snip1328.hover figcaption p {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1328:hover figcaption h5,
figure.snip1328.hover figcaption h5 {
  opacity: 1;
}
figure.snip1328:hover figcaption p,
figure.snip1328.hover figcaption p {
  opacity: 0.7;
}
